body {
    background: grey;
}
    

#hands-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 20px;
    
    height: 30vh;
    width: 80vw;
}

#bimage {
    height: 80%;
    width: auto; 
}


video {
    height: 80%;
    width: auto; 
    flex-shrink: 0;
}

#choices-container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 20vh;
}

.choices {
    height: 80%;
    width: 25%;
    font-size: larger;
    color: yellow;
    background-color: black;
    border: 2px solid yellow;
}

#results-container {
  border: 5px solid black;
  display: flex;
  flex: 1 1 auto;
  height: 30vh;
  width: 95vw;
  flex-direction: column;
  background-color: yellow;
}

.results {
    font-size: larger;
    padding-left: 5px;
}
