body {
    background-color: grey;
}
    
#hands-container {
    display: flex;
    justify-content: center;
}

#choices-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    width: 100vw;
    height: 20vh;
}

.choices {
    height: 80%;
    width: 25%;
    font-size: larger;
    color: yellow;
    background-color: black;
    border: 2px solid yellow;
}

#results-container {
  border: 5px solid black;
  display: flex;
  flex: 1 1 auto;
  height: 30vh;
  width: 75vh;
  flex-direction: column;
  background-color: yellow;
}

.results {
    font-size: larger;
    padding-left: 5px;
}
